<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="margin: 30px 0px 45px 0px;  width: 500px;">
      <h4 class="card-header alert alert-info">Log in</h4>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


          <div class="form-group mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-envelope"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",placeholder: "email" %>
            </div>
          </div>

          <div class="form-group mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control",placeholder: "password" %>
            </div>
          </div>


           <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary btn-block" %>
            </div>
          <% end %>


          <div class="login" style="border-top: 1px solid #808080; margin: 30px 0px 15px 0px; padding-top:20px;">Don't have an accout?
         <%= render "devise/shared/links" %>
        </div>

          
      </div><!-- end of card-body -->
    </div><!-- end of card -->
  </div><!-- end of dflex -->
</div><!-- end of container -->