<h2>Edit your post</h2>

<%= form_for(@post, html: {multipart: true}) do |form| %>

  <div class="form-group">
  <%= form.label :動物の種類 %>
  <%= form.select :category_id, @categories %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,class: "form-control" %>
  </div>

<!--   <div class="form-group">
    <%= form.label :title_Japaese %>
    <%= form.text_field :title_jp,class: "form-control" %>
  </div>
 -->
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description,class: "form-control" %>
  </div> 

  <!-- Start left box -->
  <div class="form-group">
    <%= form.label :med_purpose %>
    <%= form.text_area :med_purpose,class: "form-control" %>
  </div> 
  <div class="form-group">
    <%= form.label :medical_type %>
    <%= form.text_area :medical_type,class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= form.label :indication %>
    <%= form.text_area :indication,class: "form-control" %>
  </div>
   <!-- end left box -->

<!--   <div class="form-group">
    <%= form.label :description_Japaese %>
    <%= form.text_area :description_jp,class: "form-control" %>
  </div> -->

  <div class="form-group">
      <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @post.image? %>
     <%= image_tag @post.image.url %>
    <% end %><br>
    <%= form.label :image %>
    <%= form.file_field :image,class: "form-control" %>
  </div>


  <div class="form-group">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <%= form.fields_for :extraimgs do |extraimg| %>
      <%= extraimg.label :extraimage %>
      <%= extraimg.file_field :extraimage,class: "form-control" %>
      <%= extraimg.check_box :_destroy %>
      <%= extraimg.label :_destroy, 'remove' %>
    <% end %>
  </div>


<!-- Starts of attention box -->
  <div class="form-group">
    <%= form.label :attn_large %>
    <%= form.text_area :attn_large,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :attn_bold %>
    <%= form.text_area :attn_bold,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :attn_regular %>
    <%= form.text_area :attn_regular,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :attn_red %>
    <%= form.text_area :attn_red,class: "form-control" %>
  </div>
<!-- End of attention box -->



<!-- Starts of active box -->
   <div class="form-group">
    <%= form.label :"active ingrediente regular" %>
    <%= form.text_area :active_regular,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :dose %>
    <%= form.text_field :dose,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :"active ingredients large" %>
    <%= form.text_area :active_large,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :"active ingredients red" %>
    <%= form.text_area :active_red,class: "form-control" %>
  </div>

<!-- End of active box -->
  

  <div class="actions">
    <%= form.submit "Post", class:"btn btn-info"%>
  </div>
  <% end %>
  <br>
  <p><%= link_to "Back", @post, class:"btn btn-success" %></p>
