<h2>Edit your post</h2>

<%= form_for(@post, html: {multipart: true}) do |form| %>

  <div class="form-group">
   <%= form.label :Medicine_categories %><br>
   <%= form.select :category_id, @categories %>
  </div>
  
  <!-- Start left box -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title,class: "form-control" %>
     </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :med_purpose %>
        <%= form.text_area :med_purpose,class: "form-control" %>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :"Drug Type"  %>
        <%= form.text_area :medical_type,class: "form-control" %>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :indication %>
        <%= form.text_area :indication,class: "form-control" %>
      </div>
    </div>
  </div><!-- end of row -->
  <!-- end left box -->

      <!--   <div class="form-group">
          <%= form.label :title_Japaese %>
          <%= form.text_field :title_jp,class: "form-control" %>
        </div>
       -->
        <div class="form-group">
          <%= form.label :"description for category box"  %>
          <%= form.text_area :description,class: "form-control" %>
        </div>
      <!--   <div class="form-group">
          <%= form.label :description_Japaese %>
          <%= form.text_area :description_jp,class: "form-control" %>
        </div> -->

  <div class="form-group">
      <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @post.image? %>
     <%= image_tag @post.image.url %>
    <% end %><br>
    <%= form.label :image,"↑ This is the posted medicine" %>
    <%= form.file_field :image,class: "form-control" %>
  </div>

<!-- showing posted Extraimg model columns -->
  <div class="posted_pic_wrap">
    <p class="lead">Posted extra images ↓</p>
    <% @extraimgs.each do |postedimg| %>
        <div class="postedimg_wrap">
          <%= postedimg.id %>.
          <%= postedimg.extraimg_name %><br>
          <%= image_tag postedimg.extraimage %>
          <%= postedimg.extraimg_description %>
         <hr>
        </div> 
    <% end %>
  </div>

  <div class="form-group">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <%= form.fields_for :extraimgs do |extraimg| %>
      <%= extraimg.text_field :extraimg_name,class: "form-control",placeholder:"Name of the medicine" %>
      <%= extraimg.file_field :extraimage,class: "form-control" %>
      <%= extraimg.text_area :extraimg_description,class: "form-control",placeholder:"write the description if needed" %>
      <%= extraimg.check_box :_destroy %>
      <%= extraimg.label :_destroy, "remove" %>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-6">
      <!-- Starts of active box -->
       <div class="form-group">
        <%= form.label :"active ingrediente regular" %>
        <%= form.text_area :active_regular,rows: "10",class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :Amount %>
        <%= form.text_field :dose,class: "form-control" %>
      </div>

      <div class="form-group lead">
        <%= form.label :"active ingredients large" %>
        <%= form.text_area :active_large,class: "form-control" %>
      </div>

      <div class="form-group text-danger lead">
        <%= form.label :"active ingredients red" %>
        <%= form.text_area :active_red,class: "form-control" %>
      </div>
    <!-- End of active box -->

    </div>

    <div class="col-md-6">
    <!-- Starts of attention box -->
      <div class="form-group" style="font-size:1.8em;">
        <%= form.label :attn_large %>
        <%= form.text_area :attn_large,class: "form-control" %>
      </div>

      <div class="form-group lead">
        <%= form.label :attn_bold %>
        <%= form.text_area :attn_bold,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :attn_regular %>
        <%= form.text_area :attn_regular,class: "form-control" %>
      </div>

      <div class="form-group text-danger lead">
        <%= form.label :attn_red %>
        <%= form.text_area :attn_red,class: "form-control" %>
      </div>
     <!-- End of attention box -->
    </div>
  </div><!-- end of row -->
 <hr style="border:1px solid #76D7C4;">


    <div class="row">
      <div class="col-md-6">
        <!-- Start of inactive wrap -->
        <div class="form-group">
          <%= form.label :"inactive_regular" %>
          <%= form.text_area :inactive_regular,rows: "10",class: "form-control" %>
        </div>
        <div class="form-group lead">
          <%= form.label :"inactive_bold" %>
          <%= form.text_area :inactive_bold,class: "form-control" %>
        </div>

        <div class="form-group text-danger lead">
          <%= form.label :"inactive_red" %>
          <%= form.text_area :inactive_red,class: "form-control" %>
        </div>
      <!-- End of inactive wrap -->
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :"instructions_regular" %>
          <%= form.text_area :instructions_regular,rows: "10",class: "form-control" %>
        </div>

        <div class="form-group lead">
          <%= form.label :"instructions_bold" %>
          <%= form.text_area :instructions_bold,class: "form-control" %>
        </div>

        <div class="form-group text-danger lead">
          <%= form.label :"instructions_red" %>
          <%= form.text_area :instructions_red,class: "form-control" %>
        </div>
      </div>
    </div><!-- end of row -->
 <hr style="border:1px solid #76D7C4;">



      <div class="row">
       <div class="col-md-6">
         <!-- other_info_regular wrap -->
          <div class="form-group">
            <%= form.label :"other_info_regular" %>
            <%= form.text_area :other_info_regular,rows: "10",class: "form-control" %>
          </div>

          <div class="form-group lead">
            <%= form.label :"other_info_bold" %>
            <%= form.text_area :other_info_bold,class: "form-control" %>
          </div>

          <div class="form-group text-danger lead">
            <%= form.label :"other_info_red" %>
            <%= form.text_area :other_info_red,class: "form-control" %>
          </div>
       </div>

       <div class="col-md-6">
        <!-- Start of links wrap -->
          <div class="form-group">
            <%= form.label :"link_note" %>
            <%= form.text_area :link_note,class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :"en_source" %>
            <%= form.text_area :en_source,class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :"jp_source" %>
            <%= form.text_area :jp_source,class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :"en_pdf" %>
            <%= form.text_area :en_pdf,class: "form-control" %>
          </div>
            <div class="form-group">
            <%= form.label :"jp_pdf" %>
            <%= form.text_area :jp_pdf,class: "form-control" %>
          </div>
            <div class="form-group">
            <%= form.label :"en_precautions" %>
            <%= form.text_area :en_precautions,class: "form-control" %>
          </div>
        <!-- End of links wrap -->
       </div>
      </div>


     <hr style="border:1px solid #76D7C4;">

   <div class="row">
    <div class="col-md-12">
    <!-- showing posted Extraimg model columns -->
      <div class="posted_other_info_pic_wrap">
        <p class="lead">Other info picture ↓</p>
        <% @infoimgs.each do |infoimg| %>
            <div class="postedimg_info_wrap">
              <%= infoimg.id %>.
              <%= infoimg.infoimg_name %><br>
              <%= image_tag infoimg.infoimage %>
              <%= infoimg.infoimg_description %>
             <hr>
            </div> 
        <% end %>
      </div>



        <!-- Start of other information picture -->
        <div class="form-group">
          <%= form.fields_for :infoimgs do |infoimg| %>
            <%= infoimg.text_field :infoimg_name,class: "form-control",placeholder:"Name of the medicine" %>
            <%= infoimg.file_field :infoimage,class: "form-control" %>
            <%= infoimg.text_area :infoimg_description,class: "form-control",placeholder:"write the description if needed" %>
            <%= infoimg.check_box :_destroy %>
            <%= infoimg.label :_destroy, "remove" %>
          <% end %>
        </div>
        <!-- End of other information picture -->
      </div>
    </div>



  <div class="actions">
    <%= form.submit "Edit complete", class:"btn btn-info"%>
  </div>
  <% end %>
  <br>
  <p><%= link_to "Back", @post, class:"btn btn-success" %></p>
