<div class="show-whole-wrap"> 
  <div class="container">

    <!-- Start of top box row -->
    <div class="row message-show">
      <div class="col-md-4 mt-4">
        <%= image_tag @post.image_url,class:"show-pic-size img-fluid mb-3" %>
        <h2><%= @post.title %></h2>
        <!-- <p class="message-posted-by">Posted by
        <%= time_ago_in_words (@post.created_at) %> ago </p> -->
      <!--   <p>種類: <%= @post.category.name %></p> 
 -->          

        <div class="intro_wrap">
          <% if @post.med_purpose? %>
            <div class="med_purpose my-3">
             <div class ="lead">Purpose</div>             
              <%= @post.med_purpose %> 
            </div>
          <% end %>
          

          <% if @post.medical_type? %>
            <div class="medical_type my-3">
             <div class ="lead">medical type</div>
              <%= @post.medical_type %>
            </div>
          <% end %>
          
          <% if @post.indication? %>
            <div class="indication my-3">
             <div class ="lead">Indication</div>
              <%= @post.indication %>
            </div>
          <% end %>
        </div><!-- end of intro_wrap -->
        
 
       


        <div class="like_button_wrap my-4">
        <!-- Likeボタンのコード/likeボタンの部分を_likes.html.erbにrender   Start ↓ -->
          <%= render partial: '/likes/likes', locals: {post: @post} %>
        </div>
        <!-- Likeボタンのコード   End -->





          <% @post.extraimgs.each do |extra| %>
            <% if extra.extraimage.present? %>
              <%= image_tag extra.extraimage_url %>
            <% end %>
         <% end %>

      </div><!-- end of col-md-4 -->





       <!-- ここからshowの右画面 -->
       <div class="col-md-7 mx-auto mt-4">

        <div class="attn_wrap mb-4">
          <% if @post.attn_large? %>
            <div class="attn_large" style="font-size: 2em;">
              <%= h(@post.attn_large).gsub(/\n/, '<br/>').html_safe %>
            </div>
          <% end %>

          <% if @post.attn_bold? %>
            <div class="attn_bold lead">
              <%= h(@post.attn_bold).gsub(/\n/, '<br/>').html_safe %>
            </div>
          <% end %>

          <% if @post.attn_regular? %>
            <div class="attn_reg">
              <%= h(@post.attn_regular).gsub(/\n/, '<br/>').html_safe %>
            </div>
          <% end %>

          <% if @post.attn_red? %>
            <div class="attn_red lead" style="color: red;">
              <%= h(@post.attn_red).gsub(/\n/, '<br/>').html_safe%>
            </div>
          <% end %>
          
        </div><!-- end of attn_wrap -->


      <!-- STart of active wrap -->
        <% if @post.active_regular? %>
            <div class="attn_reg lead">
              <span class="lead">Active ingredients </span>
              <% if @post.dose? %>           
               <span class="ml-1">( <%= @post.dose%> )</span>
              <% end %><br>
              <%= h(@post.active_regular).gsub(/\n/, '<br/>').html_safe %>
            </div>
        <% end %>


        <div class="active_wrap">
          <% if @post.active_large? %>
            <div class="attn_large" style="font-size: 2em;">
              <%= h(@post.active_large).gsub(/\n/, '<br/>').html_safe %>
            </div>
          <% end %>
        </div>


          <% if @post.active_red? %>
            <div class="attn_reg lead" style="color: red;"> 
              <%= h(@post.active_red).gsub(/\n/, '<br/>').html_safe %>
            </div>
          <% end %>
        <!-- end of active wrap -->






<br><br><br><br><br><br>
         <!-- 改行を反映させるためのコマンド↓ -->       
         <p><%= h(@post.description).gsub(/\n/, '<br/>').html_safe %></p>
       </div><!-- end of col-md-7 col-md-offset-1 -->
    <!-- end of topbox row -->
    

    <!--Start of accordion of Japanese description -->
      <div class="col-md-12 my-4">
        <p>
          <a class="btn btn-outline-info btn-block" data-toggle="collapse" href="#jp-description" role="button" aria-expanded="false" aria-controls="jp-description">
            See Japanese
          </a>
        </p>    
      <div class="collapse" id="jp-description">
        <div class="card card-header">
          <h4><%= @post.title_jp %></h4>
          <p><%= h(@post.description_jp).gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </div>
    </div><!-- end of row -->
    <!--End of accordion -->


    <div class="col-sm-12" style="border-top: 1px solid #D3D3D3; padding-top: 15px;">
      <% if @comments_by_votes.length >= 2 %>
        <h3><%= @comments_by_votes.length %> Comments:</h3>
      <% else %>
        <h3><%= @comments_by_votes.length %> Comment:</h3>
      <% end %>
      <%= render @comments_by_votes %>
    </div>

    <div class="col-sm-12 mt-4">
      <h3 class="reply-to-message">Reply to Post:</h3>
      <%= render 'comments/form' %>
    </div>


    <div class="col-sm-12 btn-group mt-4">
      <%= link_to "Home", root_path, class:"btn btn-secondary" %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to "Edit", edit_post_path(@post), class:"btn btn-success" %>
            <%= link_to "Delete", post_path(@post),method: :delete,data:{confirm: "Are you sure?"} , class:"btn btn-danger"%>
          <% end %>
        <% end %>  
    </div>


    </div><!-- end of row message-show -->
  </div><!-- end of container -->
</div><!-- end of show-whole-wrap -->