<h1>ユーザー情報を編集する</h1>
<hr>
	<%= form_for(@user, html: {multipart: true}) do |form| %>
	   <div class="form-group">
	      <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
	    <%= form.label :user_image %>
	    <%= form.file_field :user_image,class: "form-control" %>
	   </div>
	  <div class="actions">
	    <%= form.submit "画像変更完了", class:"btn btn-warning"%>
	  </div>
	<% end %>
<hr>
<a href="/users/<%= @user.id %>" class="btn btn-info">ユーザー情報に戻る</a>