<%= form_for(@category, html: {multipart: true}) do |form| %>

  <div class="row mt-4">
    <div class="col-md-12">
       <div class="form-group">
        <%= form.label :"name" %>
        <%= form.text_field :name,class: "form-control" %>
      </div>

      <div class="form-group lead">
        <%= form.label :blurb %>
        <%= form.text_area :blurb,rows: "3",class: "form-control" %>
      </div>

      <div class="form-group" style="font-size:1.8em;">
        <%= form.label :precaution_large %>
        <%= form.text_area :precaution_large,rows: "3",class: "form-control" %>
      </div>
      <div class="form-group text-danger lead">
        <%= form.label :precaution_red %>
        <%= form.text_area :precaution_red,rows: "3",class: "form-control" %>
      </div>

      <div class="form-group lead">
        <%= form.label :precaution_bold %>
        <%= form.text_area :precaution_bold,rows: "3",class: "form-control" %>
      </div>

    </div><!-- end of col-md-12 -->
  </div><!-- end of row -->

   

  <div class="actions">
    <%= form.submit "Post new Category", class:"btn btn-warning"%>
  </div>
<% end %>
<br>
<p><%= link_to "Back", @category, class:"btn btn-secondary" %></p>
