<h3 class="mt-4">cold_flu</h3>
 <div class="center">
  <div class="row row-eq-height">
    
    <% @cold_flus.each do |old_flu| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="thumbnail message"> 
        <% if old_flu.image? %>
         <%= link_to (image_tag old_flu.image.url), old_flu  %>
        <% end %> 

         <div class="caption">
            <h3 clas="message-title"><%= old_flu.title %></h3>   
             <p><%= link_to "詳細を見る", post_path(old_flu),class:"btn btn-default" %></p>
              <div class="index_icons"> 
                <% if old_flu.likes.size >= 1 %>
                  <span class="far fa-heart index_like-icon"></span><%= old_flu.likes.size %> 
                <% else %>
                  <span class="far fa-heart index_like-icon_zero"></span><%= old_flu.likes.size %>
                <% end %>

                <span style="margin-right: 25px;"></span>

               <% if old_flu.comments.size >= 1 %>
                  <span class="far fa-comments index_comments-icon"></span><%= old_flu.comments.size %>  
                <% else %>
                  <span class="far fa-comments index_comments-icon_zero"></span><%= old_flu.comments.size %> 
                <% end %>
            </div>
          </div> 


       </div><!-- end of thumbnail -->
      </div><!-- end of col-xs-12 col-sm-6 col-md-4 -->
     <% end %> 
  </div><!-- end of row row-eq-height -->
  <p><%= link_to "一覧に戻る", root_path,class:"btn btn-default" %></p>
</div><!-- end of center -->
 
