<h3 class="mt-4">cold_flu</h3>
 <div class="center">
  <div class="row row-eq-height">


    <!-- Cards -->
    <!-- Cold flu -->
    <% @cold_flus.each do |cold_flu| %>
    <div class="col-sm-6 col-md-6 col-lg-3">
       <div class="card mb-3">
          <% if cold_flu.image? %>
           <%= image_tag cold_flu.image.url, class:"card-img-top" %>
          <% end %> 

  
        <div class="card-body">
          <p class="card-text card-bottom">
            <h5 class="category-top"><%= cold_flu.title %></h5>
            Lorem ipsum dolor amet echo park cronut typewriter, skateboard letterpress sriracha four dollar toast four loko raw denim godard coloring book.
          </p>
  
           <div class="view-margin"><%= link_to "View More", post_path(cold_flu),class:"btn btn-outline-success btn-block" %></div>
           <!-- like and comment numbers -->
           <div class="icons-nums pt-3">
              <div class="index_icons"> 
                <% if cold_flu.likes.size >= 1 %>
                  <span class="far fa-heart index_like-icon"></span><%= cold_flu.likes.size %> 
                <% else %>
                  <span class="far fa-heart index_like-icon_zero"></span><%= cold_flu.likes.size %>
                <% end %>

              <span style="margin-right: 25px;"></span>

                <% if cold_flu.comments.size >= 1 %>
                  <span class="far fa-comments index_comments-icon"></span><%= cold_flu.comments.size %>  
                <% else %>
                  <span class="far fa-comments index_comments-icon_zero"></span><%= cold_flu.comments.size %> 
                <% end %>
            </div>
           </div><!-- end of like and comment numbers -->
        </div><!-- end of card-body -->

      </div><!-- end of card mb-3 -->
    </div><!-- end of col-3 -->
   <% end %> <!-- end of @cold_flus.each do |cold_flu| -->
 </div><!-- end of row  row-eq-height-->
 <p><%= link_to "一覧に戻る", root_path,class:"btn btn-outline-secondary" %></p>
</div><!-- end of center -->

   