<h2 class="mb-4 text-info">Most Recent Posts</h2>
  <div class="row">
    <% @recent_posts.each do |recent| %>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-4 card-hover"> 
        <%= link_to recent, class:"mb-3" ,style:"text-decoration:none;" do %>      
         <% if recent.image? %>
           <%= image_tag recent.image.url, class:"img-fluid mx-n2",style:"padding:0;" %>
          <% end %> 
        <div class="title lead"><%= recent.title %></div>
        <div class="description"><%= recent.description %></div>
        
      </div><!-- end of col-md-3 -->
      <% end %><!-- end of link_to -->
    <% end %>
  </div>

<div class="border mt-2" style="margin-bottom: 30px;">
  <%= image_tag("index_border.jpg",style:"width: 100%; height:100px;") %>
</div>


<h4 class="my-4">Categories of OTC in Japan</h4>
   <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "Add New Post", new_post_path,class:"btn btn-info mb-4 mr-2" %>
        <%= link_to "Add New Category", new_category_path,class:"btn btn-danger mb-4" %>
      <% end %>
   <% end %>
   

<div class="center">
  <div class="row row-eq-height">
  	<% @categories.each do |category| %>
  	  <div class="col-sm-6 col-md-6 col-lg-3 ">
       <%= link_to category, class:"mb-3" ,style:"text-decoration:none;" do %>
       <div class="card mb-3 card-hover">
       	   <% if category.image? %>
            <%= image_tag category.image.url, class:"card-img-top mb-3" %>
           <% end %> 
  			  <div class="card-body">
  			    <div class="card-text">
  			    	<h4 class="category-top"><%= category.name %></h4>
  			    	<%= category.blurb %>
  			    </div>
  			    <div class="d-flex justify-content-between mt-4" style=" text-decoration: none;">   
               <div class="view-margin" style="color: #249d3d"><%= link_to "View More", category_path(category),class:"btn btn-outline-success" %>
               </div>
  						 <p class="text-muted"><%= category.posts.size %> items</p>
            </div>
  			  </div>
			</div>
     <% end %><!-- end of link_to category -->
    </div><!-- end of col-3 -->
	<% end %>
  </div>
</div>



