    <%= render 'layouts/header' %>
<div class="contact-whole-wrap" >
<%= form_for @contact do |f| %>
    <!--Start of contact -->
    <section class="contact-wrap px-4">
      <% if @contact.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissible">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>

        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="container contact-inside">
        <div class="row">
          <div class="col-sm-12">
              <h3 class="contact-left">
                Contact Use
              </h3>

            <div class="contact-form">
                <form action="" method="post" role="form" class="contactForm">
                <p>Feel free to ask us anything you would like know.</p>
                <div id="errormessage"></div>
                 <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                    <%= f.text_field :name,class:"form-control",placeholder:"Your Name" %>
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <%= f.text_field :email,class:"form-control",placeholder:"Your Email" %>
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <%= f.text_area :message,class:"form-control",placeholder:"Please write your message",rows:"5" %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <%= f.button 'Send' ,class:"btn btn-info",  data: {confirm: 'Are you sure?',disable_with:  "<i class='fas fa-spinner fa-spin'></i>  Sending..."}%>
                  </div>
                </div>
              </form>
            </div><!-- end contact-form -->
          </div><!-- end of col-sm-12 -->
        </div>
      </div>
    </section>
  <!--End of contact-->
<% end %>

</div>